<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reviews</title>
</head>
<body>
    <h1>{{ title }}</h1>
    <table border="1">
        <thead>
            <tr>
                <th>Average Review</th>
                <th>Review Count</th>
                <th>Reviews</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>{{ reviews.avg_review }}</td>
                <td>{{ reviews.count_review }}</td>
                <td>
                    <ul>
                        {% for text in reviews.reviews %}
                        <li>{{ text }}</li>
                        {% endfor %}
                    </ul>
                </td>
            </tr>
        </tbody>
    </table>
</body>
</html>